<h1>Sign up</h1>
<%= form_for @user do |f| %>
  <% content_for :errors do %>  
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:" %></h2>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
  
<% if @user.email.nil? %>  
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
<% else %>
  <%= f.hidden_field :email %>
  <%= hidden_field_tag :hash, @invitation.hash %>
<% end %>  
  
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>