<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to t('admin.general.Dashboard'), admin_root_path %></li>
    <li><%= link_to t('admin.general.Agencies_Listing'), agencies_path %></li>
    <li class="last"><%= t('admin.general.Details') %></li>
    
  </ul>
<% end %>
<h1>Editing agency</h1>

<%= render 'form' %>

<% content_for :subcol do %>
  <div class="notice">
    <h4>Managing Users</h4> 
    <p>Add new user users for <%= @agency.name %></p>
    <p>Adding a new email address will and send an invitation to signup by email.</p>
    <%= form_for(@invitation, :format => :json, :remote => true) do |f| %>
      <% if @invitation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

          <ul>
          <% @invitation.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <%= f.hidden_field :hash %>
      <%= f.hidden_field :agency_id %>
      <%= f.email_field :email %>
      <%= f.submit :disable_with => t('admin.general.Sending'), :value => t('admin.general.Invite') %>
    <% end %>
    <h4>Pending Invitation(s)</h4>
    <ul id="pending-invitations"></ul>
  </div>
<% end %>

<%= link_to 'Show', @agency %> |
<%= link_to 'Back', agencies_path %>
